<main class="container">
  <div class="header">
    <h1>Admin</h1>
    <%#= link_to "Back to War App", "/", class: "btn btn--primary" %>
  </div>

  <div class="row">
    <div class="col-4">
      <%= link_to "Players", admin_players_path, class: "btn btn-primary" %>
    </div>
  </div>
</main>
